BACKEND_URL=http://localhost:8000 # or NEXT_PUBLIC_BACKEND_URL
# Token used to allow frontend to access backend for api protection
# Note is the same as .env
BACKEND_SHARED_SECRET=
# APP_AUTH_TOKENS=test-token1,test-token2,test-token3
APP_AUTH_TOKENS=